*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

main{
    width:90%;
    margin: auto;
    padding: 10px;
}

@media screen and(max-width:800px) {
    main{
        width: 98%;
         
    }
}