*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

main{
    width:90%;
    margin: auto;
    padding: 10px;
}
 
.navbar {
    padding: 0.5rem 1rem;
    background-color: #1F316F;
}

.navbar-nav .nav-link {
    margin-left: 20px;
    margin-right: 20px;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #FFD700; /* Change to the desired hover color */
}

.navbar-brand h3 {
    font-size: 1.5rem;
    font-weight: bold;
}
 
@media screen and(max-width:800px) {
    main{
        width: 98%;
         
    }
}